.btn {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #2ec46fb9;
  font-size: 18px;
  border: solid 1px black;
}
.cont {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.btn:focus,
.btn:hover {
  background-color: rgb(14, 119, 31);
}
